<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Books Recommender</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/theme.min.css" integrity="sha512-hbs/7O+vqWZS49DulqH1n2lVtu63t3c3MTAn0oYMINS5aT8eIAbJGDXgLt6IxDHcWyzVTgf9XyzZ9iWyVQ7mCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href={{ url_for('static', filename='/css/style.css') }} type="text/css">
    </head>
    <body>

        <div class="container"> 
            <div class="row d-flex justify-content-center"> 
                <div class="col-md-9"> 
                        <div class="topnav" id="myTopnav">
                            <a href="#home" class="active">BRAND NAME</a>
                            <a href="#" style="float: right;">ABOUT</a>
                            <a href="javascript:void(0);" class="icon" id="menu-bar">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    <div class="card small-container p-4 mt-4"> 

                        
                        <h2 class="heading mt-5 text-center">
                            Cari Buku Kesukaanmu
                        </h2> 
                        <div class="d-flex justify-content-center px-5"> 
                            <div class="search autocomplete"> 
                                <input type="text" class="search-input" placeholder="Search..." name="" id="input-title"> 
                                <button class="search-icon" id="search-btn"> 
                                    <i class="fa fa-search"></i> 
                                </button> 
                            </div> 
                        </div>
                        <div class="d-flex justify-content-center px-5">
                            <select class="selectpicker form-control" id="mode-select">
                                <option value="" selected>Pilih Jenis Rekomendasi</option>
                                <option value="1">Content-Based</option>
                                <option value="2">Item-Based</option>
                            </select>
                        </div>
                    </div> 

                    <div class="card small-container p-4 my-3" id="populer-holder">
                        <h4 class="heading text-center">
                            Buku yang sedang Populer
                        </h4> 
                        <div class="row mt-3 g-1 px-4 mb-3" id="populer-card"> 
                            <div class="preloader pre-populer">
                                <div class="loading">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Auto Fill Popular Books Card -->

                        </div>
                    </div>

                    <div class="card small-container p-4 my-3" id="recommend-holder" style="display: none;">
                        <h4 class="heading text-center">
                            Rekomendasi Berdasarkan Pencarian
                        </h4> 
                            <div class="row mt-3 g-1 px-4 mb-3" id="recommend-card"> 
                                <div class="preloader pre-recommend">
                                    <div class="loading">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Auto Fill Popular Books Card -->
                                
                            </div>
                        </div> 
                    </div>
                </div> 
            </div> 
        </div>
    </body>
    <script src={{ url_for('static', filename='/js/script.js') }}></script>
</html>
